* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.search {
  margin: 10px
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  
}

.item {
  /* width: 300px; */
  padding-top: 80%;
  /* height: 600px; */
  /* aspect-ratio: 6 / 4; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}